<!DOCTYPE html>
<html>
  <div class="header">
      <h2 class="header">Delete Pending Requests</h2>
  </div>
  <head>
    <base target="_top">
      <?!= include('Header/Templates/header.css.html'); ?>
      <?!= include('Header/Templates/header.html'); ?>
      <?!= include('Sites/CSS/DeleteRequests/deleteRequests.css'); ?>
  </head>
  <script>
      <? var data = getPortlandPendingRequests(); ?>
  </script>
  <body>
     <table id="myTable">
        <tr>
          <th class="headerRow">Search Key</th>
          <th class="headerRow">First Name</th>
          <th class="headerRow">Last Name</th>
          <th class="headerRow">First Day Off</th>
          <th class="headerRow">Last Day Off</th>
          <th class="headerRow">Return Date</th>
          <th class="headerRow">Email Address</th>
        </tr>
        <? for (var i = 1; i <= data.count; i++) { ?>
        <tr>
            <th class="rows"><?= data[(i)]['searchKey'] ?></th>
            <th class="rows"><?= data[(i)]['firstName'] ?></th>
            <th class="rows"><?= data[(i)]['lastName'] ?></th>
            <th class="rows"><?= data[(i)]['FDO'] ?></th>
            <th class="rows"><?= data[(i)]['LDO'] ?></th>
            <th class="rows"><?= data[(i)]['RDO'] ?></th>
            <th class="rows"><?= data[(i)]['email'] ?></th>
            <th><input class="deleteButton" type="button" value="Delete request" onclick="deleteRow(this);"></th>
        </tr>
        <? } ?>
     </table>
  </body>
  <script>
     function deleteRow(el) {
        if(!confirm("Are you sure you want to delete?")) return;
        var tbl = el.parentNode.parentNode.parentNode;
        var row = el.parentNode.parentNode.rowIndex;
        var x = document.getElementById("myTable").rows[row].cells;
        console.log(x[0].innerHTML, x[1].innerHTML, x[2].innerHTML, x[3].innerHTML, x[4].innerHTML, x[5].innerHTML);
        google.script.run.PortlandDeleteRequest(x[0].innerHTML, x[1].innerHTML, x[2].innerHTML, x[3].innerHTML, x[4].innerHTML, x[5].innerHTML);
        console.log(this);
        console.log(el);
        console.log(row);
        tbl.deleteRow(row);
      
    }
</script>
</html>
