<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="navbar">
    <div class="dropdown">
        <button class="dropbtn">Dashboards&#9660;
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="YourAppLinkHeredev?method=SalemDashBoard">Salem</a>
            <a href="YourAppLinkHeredev?method=VancouverDashBoard">Vancouver</a>
            <a href="YourAppLinkHeredev?method=PortlandDashBoard">Portland</a>
            <a href="YourAppLinkHeredev?method=BendDashBoard">Bend</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Edit Clinicians Request&#9660;
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="YourAppLinkHeredev?method=SalemEditClinician">Salem</a>
            <a href="YourAppLinkHeredev?method=VancouverEditClinician">Vancouver</a>
            <a href="YourAppLinkHeredev?method=PortlandEditClinician">Portland</a>
            <a href="YourAppLinkHeredev?method=BendEditClinician">Bend</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Add Emails To Clinician Library&#9660;
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="YourAppLinkHeredev?method=SalemAddClinician">Salem</a>
            <a href="YourAppLinkHeredev?method=VancouverAddClinician">Vancouver</a>
            <a href="YourAppLinkHeredev?method=PortlandAddClinician">Portland</a>
            <a href="YourAppLinkHeredev?method=BendAddClinician">Bend</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Delete Requests&#9660;
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="YourAppLinkHeredev?method=SalemDelete">Salem</a>
            <a href="YourAppLinkHeredev?method=VancouverDelete">Vancouver</a>
            <a href="YourAppLinkHeredev?method=PortlandDelete">Portland</a>
            <a href="YourAppLinkHeredev?method=BendDelete">Bend</a>
        </div>
    </div>
</div>
</body>
<br>
<br>
</html>

